html {
    box-sizing: border-box;
    /* width: 100vw; */
}

body{
    padding: 0;
    margin: 0; 
}

.container { 
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 930px 700px 700px 700px 800px 500px 400px;
}

@media only screen and (max-width: 500px){
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 930px 700px 700px 700px 700px 700px 700px 1200px  500px 400px; 
        grid-template-areas: 
        "header header"
        "transform-img transform-img"
        "transform transform"
        "stand-out-img stand-out-img"
        "stand-out stand-out"
        "graphic-design graphic-design"
        "photography photography"
        "testimonials testimonials"
        "gallery gallery"
        "footer footer";
    }
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* header styles */
.header {
    /* border: 1px solid black; */
    grid-column: 1 / span 2;
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


header {
    /* border: 1px solid black; */
    height: 5vh;
    padding: 0.5rem 0.5rem 0.5rem 4px;
}

.logo {
    /* border: 1px solid black; */
    position: relative;
    top:50%;
    left:1.25rem;
    display: inline-block;
    transform: translateY(-50%);
}

.header ul{
    /* border: 1px solid black; */
    float: right;
    position: relative;
    bottom:5%;
}

.hamburger {
    display: none;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 1.25rem;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: "Barlow";
    
}

.header .contact {
    color:hsl(212, 27%, 19%);
    font-family: "Fraunces";
    border: 0.0625rem solid white;
    padding: 0.635rem 1.25rem;
    border-radius: 1.875rem;
    background-color: white;
    font-weight: 700;
}

.header .contact:hover {
    color: white;
    background-color: hsl(210, 4%, 67%);
    border-color:hsl(210, 4%, 67%);
}

h1 {
    /* border: 1px solid; */
    color: white;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 0.625rem;
    width: 100%;
    text-align: center;
    position: relative;
    top: 10%;
}

.arrow {
    /* border: 1px solid black; */
    position: relative;
    left: 50%;
    /* margin-top: 12.5rem; */
    top: 21%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 500px) {
    .header {
        grid-area: header;
        background-image: url("./images/mobile/image-header.jpg");
    }

    .header ul {
        display: none;
    }

    .hamburger {
        display: inline-block;
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 0.625rem;
    }

    .hamburger:hover {
        cursor: pointer;
    }

}

/* stand-out and transform styles */
.transform-image {
    background-image: url('./images/desktop/image-transform.jpg');
    background-size: cover;  
    
}

.stand-out-image {
    background-image: url("./images/desktop/image-stand-out.jpg");
    background-size: cover;
    background-position: top;
    
}

.text-container {
    /* border: 1px solid black; */
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

h2 {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 2.25rem;
}

.text-container p {
    font-size: 1.125rem;
    font-family: "Barlow";
    color: hsl(210, 4%, 67%);
}

.text-container a{
    font-family: "Fraunces";
    font-size: 18px;
    text-decoration: none;
    color:black;
}

.yellow {
    border-bottom: 0.125rem solid hsl(51, 100%, 49%);
}

.yellow:hover {
    border-bottom: 0.375rem solid hsl(51, 100%, 49%);
}

.pink {
    border-bottom: 0.125rem solid hsl(7, 99%, 70%);
}

.pink:hover {
    border-bottom: 0.375rem solid hsl(7, 99%, 60%);
}

@media only screen and (max-width: 500px) {
    /* .transform-image {
        grid-area: transform-img;
        background-position: center;
    } */

    /* .transform {
        grid-area: transform;
    } */

    /* .stand-out-img {
        grid-area: stand-out-img;
        background-position: center;
    } */
    
    /* .stand-out {
        grid-area: stand-out;
    } */

    /* .footer {
        grid-row-start: 10;
    } */


    /* .text-container {

    } */
}

/* graphic desgin and photography styles */
.graphic-design {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: top;
}

.photography {
    background-image: url("./images/desktop/image-photography.jpg");
    background-position: top;
    background-size:cover;
}

.text {
    /* border: 1px solid black; */
    width: 50%;
    margin:0 auto;
    position: relative;
    top: 60%;
}

h3 {
    font-family: "Fraunces";
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
}

.text p{
    font-size: 1.125rem;
    font-family: "Barlow";
    text-align: center;
}

.photography h3 {
    color: hsl(198, 62%, 26%);
}

.photography .text {
    color: hsl(198, 62%, 26%);
}

.graphic-design h3{
   color: hsl(167, 40%, 24%);
}

.graphic-design .text {
   color: hsl(167, 40%, 24%);

}

@media only screen and (max-width: 500px) {
    /* .graphic-design {
        grid-area: graphic-desgin;
    } */

    /* .photography {
        grid-area: photography;
    } */
}

.testimonials {
    grid-area: 5/ 1/ span 1/ span 2;
}

h4 {
    color: hsl(210, 4%, 67%);
    font-family: "fraunces";
    font-size: 1.125rem;
    letter-spacing: 0.3125rem;
    text-align: center;
    position: relative;
    top:15%;
}

.testimonial-flex {
    /* border: 1px solid black; */
    display: flex;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    justify-content: center;
    justify-content: space-around;
}

.profile img {
    border-radius: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 6.25rem;
}

.profile {
    /* border: 1px solid black; */
    width: 21.875rem;
}

.profile p {
    color: hsl(213, 9%, 39%);
    font-family: "Barlow";
    font-size: 1.125rem;
    text-align: center;
}

.profile .name {
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces";
    font-weight: 900;
}

.profile .job {
    color: hsl(210, 4%, 67%);
    font-size: 0.875rem;
}

@media only screen and (max-width: 500px) {
    /* .testimonials {
        grid-area: tesimonials;
    }*/
 } 

.gallery {
    border: 1px solid black;
    display: flex;
    grid-area: 6/ 1/ span 1/ span 2;
    justify-content: center;
}

.milk, .orange, .cone, .sugar {
    width: 100%;
    background-size: cover;
    background-position: bottom;
}

.milk { 
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
}

.orange {
    background-image: url("./images/desktop/image-gallery-orange.jpg");
}

.cone {
    background-image: url("./images/desktop/image-gallery-cone.jpg");
}

.sugar {
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
}

/* footer */
.footer{
    background-color: #90D4C5;
    grid-area:7 / 1 / span 1 / span 2 ;
}

.footer h3 {
    color: hsl(168, 34%, 41%);
    font-weight: 900;
    /* border: 1px solid black; */
    font-size: 2.25rem;
}

.footer ul {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: fit-content;
}

.footer li {
    color: hsl(168, 34%, 41%);
    font-family: "Barlow";
    font-size: 1.125rem;
}

.socials {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 4.6785rem auto;
    width: 10.9375rem;
}

.footer a {
    text-decoration: none;
    color:hsl(168, 34%, 41%);
}

.footer a:hover {
    color: white;
}